*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display:flex;
}
header ul li{
    display: inline;
    margin-right: 30px;
    position: relative;
    top: 20px;
    left: 20px;
}

 

.image-logo{

    width: 200px;
}

 

nav ul li{
    display: inline;
    margin-right: 30px;
     
    
}

.menu-2{
    padding-top: 30px;
    padding-bottom: 30px;
    
}


section{
    width: 50%;
}
.container{
      width: 220px;
      height: 380px;
      background-color: rgb(220, 210, 167);
      padding-top: 10px;
      margin: 10px;

      
     
}
.pruduct-image{
    margin: auto;
    width:  190px;
    height: 200px;
    background-color: rgb(92, 90, 102);
    display:flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.pruduct-propritee{
     padding-left: 15px;
}
article{
    display: flex;
    flex-wrap:  wrap;
}
 
 
  